:root{
    --backgroud-color: #22252C;
    --container: #3F3250;
    --buttons: #E14658;
    --lirycs: #fff;
    --letter: #C0B3A0;
    --font-family:'Georama', sans-serif;
}
body{
    background-color: var(--backgroud-color);
}


/* -------borders-------------- */

.container-main{
    width: 100%;
    height: 100vh;
    background-color: var(--backgroud-color);
    color: var(--lirycs);
    font-family: var(--font-family);
}

.container--header{
    
    width: 100%;
    height: 100vh;
}

.header--nav{
    background-color: var(--container);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header--nav h2{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}
/* -------menu----- */
.header--nav .nav__input{     /* ocualtar input checked*/
    display: none;
}

.header--nav ul{
    background-color: var(--backgroud-color);
    border: 1px solid #fff;
    border-radius: 8px;
    height: 250px;
    width: 250px;
    position: absolute;
    z-index: 2;
    top: 50px;
     left: 60px;;
    text-align: center;
    display: none;
}
.header--nav ul li {
    /* border: 1px solid wheat; */
    /* border-radius: 8px; */
    /* padding: 18px; */
    width: 100%;
    list-style: none;
    font-size: 18px;
    
}
.nav__input:checked + .ul{
    display: block;
}
.header--nav ul li a{
    text-decoration: none;
    display: block;
    padding: 18px;
    width: 100%;
    color: var(--lirycs);
}
.header--nav ul li a:hover{
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    color: var(--buttons);
    transition: easy all  0.6s ;

}
.header--nav .nav--icon-bars{
    width: 30px;
    margin-right: 15px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(295deg) brightness(105%) contrast(101%);
}

/* ----------------------header--center-information----------------------------------------------------- */

.header--center-information{
    
    background-color: var(--container);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 150px;
    width: 300px;
    height: 400px;
    position: relative;
    box-shadow: 8px 5px 5px black;
    
}

.center--information-avatar {
    
    width: 200px;
    height: 200px;
    position: absolute;
    top:  -80px;
    left: calc(50% -(200px/2));
    z-index: 1;
    /* display: none; */
    
}
.center--information-avatar img{
    width: 100%;
    height: 100%;
}

.center--information-name{
    
    width: 80%;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 180px;
     left: calc(50% -(80%/2));
    /* display: none; */
}

.center--information-social{
    width: 80%;
    height: 50px;
    position: absolute;
    top: 250px;
    left: calc(50% -(80%/2));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center--information-social img{
    width: 40px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(295deg) brightness(105%) contrast(101%);
    /* margin-right: 20px; */
}

/* ------------------------------information------------------------------------------------------------------ */

.container--information{
    width: 100%;
    background-color: var(--backgroud-color);
    height: 100vh;
    text-align: center;

}

.container--description{
    background-color: var(--container);
    box-shadow: 8px 5px 5px black;
    border-radius: 8px;
    margin: 0 auto;
    width: 300px;
    height: 350px;
}



 .container--information-personal{
    background-color: var(--container);
    box-shadow: 8px 5px 5px black;
    border-radius: 8px;
    width: 300px;
    height: 350px;
    margin: 0 auto;
    margin-top: 15px;
} 
 .container--information-personal table{

    font-weight: bold;
    width: 100%;
    height: 300px;
} 









